@page "/forgot-password"
@inject IAuthenticationService AuthService

<PageTitle>Forgot Password</PageTitle>

@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

<MudContainer MaxWidth="MaxWidth.Small" Class="mt-5">
    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h4" Class="mb-4">Forgot Password</MudText>
        <MudForm @ref="form">
            <MudTextField @bind-Value="Email" Label="Email" Required="true" />
            <MudButton OnClick="@(async () => await SendResetLink())" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">Send Reset Link</MudButton>
        </MudForm>
    </MudPaper>
</MudContainer>

@code {
    private string Email = string.Empty;
    private string Message = string.Empty;
    private MudForm form = new();

    private async Task SendResetLink()
    {
        var authResult = await AuthService.ForgotPasswordAsync(Email);
        Message = authResult.Success ? "Check your email!" : authResult.ErrorMessage;
    }
}
